In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the CSV file into a DataFrame
csv_file_path = 'User Transaction.csv'
df = pd.read_csv(csv_file_path)

# Converting date columns to datetime format
df['CREATED_DATE'] = pd.to_datetime(df['CREATED_DATE'])
df['CREATED_DATE minus Hour'] = pd.to_datetime(df['CREATED_DATE minus Hour'])

<ipython-input-2-32eb496de8a6>:11: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['CREATED_DATE minus Hour'] = pd.to_datetime(df['CREATED_DATE minus Hour'])

In [4]:
# Transaction Trends and Patterns
transaction_counts = df['CREATED_DATE'].dt.date.value_counts().sort_index()
transaction_types_counts = df['TYPE'].value_counts()
currency_counts = df['CURRENCY'].value_counts()
hourly_patterns = df['CREATED_DATE'].dt.hour.value_counts().sort_index()

In [5]:
# User Behavior Analysis
user_transaction_counts = df['USER_ID'].value_counts()

# Monetary Analysis
total_transaction_value = df.groupby('CREATED_DATE').sum()['AMOUNT']
average_transaction_amounts = df.groupby('TYPE').mean()['AMOUNT']

<ipython-input-5-89d8714b3b46>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_transaction_value = df.groupby('CREATED_DATE').sum()['AMOUNT']
<ipython-input-5-89d8714b3b46>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_transaction_amounts = df.groupby('TYPE').mean()['AMOUNT']

In [6]:
# Temporal Analysis
day_of_week_distribution = df['CREATED_DATE'].dt.day_name().value_counts()
hourly_analysis = df.groupby(['CREATED_DATE', 'TYPE']).size().unstack()

In [7]:
# User Engagement
top_transaction_types = df['TYPE'].value_counts().head(3)
repeat_transactions = df['TRANSACTION_ID'].duplicated().sum()

In [10]:
print("Top Transaction Types:\n", top_transaction_types)
print("\nTotal Repeat Transactions:", repeat_transactions)

Top Transaction Types:
 TOPUP            2373
BANK_TRANSFER    2371
ATM              2357
Name: TYPE, dtype: int64

Total Repeat Transactions: 0

In [14]:
# Transaction Trends and Patterns
total_transactions = len(df)
transaction_types_counts = df['TYPE'].value_counts()
currency_counts = df['CURRENCY'].value_counts()
hourly_patterns = df['CREATED_DATE'].dt.hour.value_counts().sort_index()

# User Behavior Analysis
unique_users = df['USER_ID'].nunique()
average_transactions_per_user = total_transactions / unique_users

# Monetary Analysis
total_transaction_value = df['AMOUNT'].sum()
average_transaction_amount = df['AMOUNT'].mean()

# Temporal Analysis
most_common_day_of_week = df['CREATED_DATE'].dt.day_name().value_counts().idxmax()
hourly_peak_time = df['CREATED_DATE'].dt.hour.value_counts().idxmax()

# User Engagement
top_transaction_type = transaction_types_counts.idxmax()
repeat_transactions = df['TRANSACTION_ID'].duplicated().sum()
repeat_transactions_percentage = (repeat_transactions / total_transactions) * 100

# Print Results
print("Transaction Trends and Patterns:")
print("Total Transactions:", total_transactions)
print("Currency Usage Counts:\n", currency_counts)
print("Hourly Patterns:\n", hourly_patterns)
print("\nUser Behavior Analysis:")
print("Unique Users:", unique_users)
print("Average Transactions per User:", average_transactions_per_user)
print("\nMonetary Analysis:")
print("Total Transaction Value:", total_transaction_value)
print("Average Transaction Amount:", average_transaction_amount)
print("\nTemporal Analysis:")
print("Most Common Day of the Week:", most_common_day_of_week)
print("Hourly Peak Time:", hourly_peak_time)
print("\nUser Engagement:")
print("Top Transaction Type:", top_transaction_type)
print("Repeat Transactions:", repeat_transactions)
print("Repeat Transactions Percentage: {:.2f}%".format(repeat_transactions_percentage))

Transaction Trends and Patterns:
Total Transactions: 10000
Currency Usage Counts:
 GBP    5149
EUR    4851
Name: CURRENCY, dtype: int64
Hourly Patterns:
 0     210
1     204
2     172
3     181
4     144
5     199
6     250
7     364
8     442
9     474
10    550
11    555
12    650
13    598
14    592
15    602
16    595
17    620
18    584
19    538
20    471
21    397
22    338
23    270
Name: CREATED_DATE, dtype: int64

User Behavior Analysis:
Unique Users: 1134
Average Transactions per User: 8.818342151675486

Monetary Analysis:
Total Transaction Value: 1757681.6300000001
Average Transaction Amount: 175.76816300000002

Temporal Analysis:
Most Common Day of the Week: Friday
Hourly Peak Time: 12

User Engagement:
Top Transaction Type: TOPUP
Repeat Transactions: 0
Repeat Transactions Percentage: 0.00%

In [15]:
# Identifying top transaction users
top_transaction_users = df['USER_ID'].value_counts().head(10)

# Calculating total transaction value by currency
total_transaction_value_by_currency = df.groupby('CURRENCY')['AMOUNT'].sum()

# Calculate average transaction amount by type
average_transaction_amount_by_type = df.groupby('TYPE')['AMOUNT'].mean()

# Identify common hours for each transaction type
common_hours_by_type = df.groupby('TYPE')['CREATED_DATE'].apply(lambda x: x.dt.hour.value_counts().idxmax())

# Print Results
print("Top Transaction Users:\n", top_transaction_users)
print("\nTotal Transaction Value by Currency:\n", total_transaction_value_by_currency)
print("\nAverage Transaction Amount by Type:\n", average_transaction_amount_by_type)
print("\nCommon Hours by Transaction Type:\n", common_hours_by_type)

Top Transaction Users:
 06bb2d68-bf61-4030-8447-9de64d3ce490    132
d35f19f3-d9ad-48bf-bd1e-90f3ba4f0b98    103
d1bc3cd6-154e-479f-8957-a69cdf414462     95
0fe472c9-cf3e-4e43-90f3-a0cfb6a4f1f0     85
65ac0928-e17d-4636-96f4-ebe6bdb9c98d     84
59d3efe9-135b-4b44-ac59-80a13da8109a     78
20100a1d-12bc-41ed-a5e1-bc46216e9696     78
84e22e7f-f2ab-413c-969a-667c78d8885c     77
f54baeeb-7282-4d23-9bb7-e8396ce1b159     65
26e8432c-5fdb-4b67-82e6-18f341d511a1     61
Name: USER_ID, dtype: int64

Total Transaction Value by Currency:
 CURRENCY
EUR    852363.35
GBP    905318.28
Name: AMOUNT, dtype: float64

Average Transaction Amount by Type:
 TYPE
ATM              174.670641
BANK_TRANSFER    176.661674
CARD_PAYMENT     178.431118
P2P_TRANSFER     177.667840
TOPUP            172.896928
Name: AMOUNT, dtype: float64

Common Hours by Transaction Type:
 TYPE
ATM              16
BANK_TRANSFER    12
CARD_PAYMENT     12
P2P_TRANSFER     16
TOPUP            13
Name: CREATED_DATE, dtype: int64

In [17]:
# Extract month and year from CREATED_DATE
df['Month'] = df['CREATED_DATE'].dt.month
df['Year'] = df['CREATED_DATE'].dt.year

# Group by TYPE and Month, and count occurrences
transaction_type_month_counts = df.groupby(['TYPE', 'Year', 'Month']).size().reset_index(name='Count')

# Find the most used transaction type in each month
most_used_in_month = transaction_type_month_counts.groupby(['Year', 'Month'])['Count'].idxmax()
most_used_transaction_types = transaction_type_month_counts.loc[most_used_in_month]

# Print Results
print("Most Used Transaction Types in Each Month:")
print(most_used_transaction_types)

Most Used Transaction Types in Each Month:
             TYPE  Year  Month  Count
13  BANK_TRANSFER  2016      1     62
14  BANK_TRANSFER  2016      2     76
54          TOPUP  2016      3    133
16  BANK_TRANSFER  2016      4    123
17  BANK_TRANSFER  2016      5    156
31   CARD_PAYMENT  2016      6    156
58          TOPUP  2016      7    225
7             ATM  2016      8    290
21  BANK_TRANSFER  2016      9    268
35   CARD_PAYMENT  2016     10    290
10            ATM  2016     11    308
63          TOPUP  2016     12    326
38   CARD_PAYMENT  2017      1     85

In [19]:
# Group by TYPE and CURRENCY, and count occurrences
transactions_by_type_currency = df.groupby(['TYPE', 'CURRENCY']).size().reset_index(name='Count')

# Pivot the table for better visualization
transactions_pivot = transactions_by_type_currency.pivot(index='TYPE', columns='CURRENCY', values='Count')

# Print Results
print("Number of Transactions by Currency for Each Transaction Type:")
print(transactions_pivot)

Number of Transactions by Currency for Each Transaction Type:
CURRENCY        EUR   GBP
TYPE
ATM            1209  1148
BANK_TRANSFER  1181  1190
CARD_PAYMENT   1147  1178
P2P_TRANSFER    105   469
TOPUP          1209  1164

In [20]:
# Calculate the earliest transaction date for each user
earliest_transaction_date = df.groupby('USER_ID')['CREATED_DATE'].min()

# Calculate the last transaction date for each user
latest_transaction_date = df.groupby('USER_ID')['CREATED_DATE'].max()

# Calculate the total number of active users
total_active_users = len(earliest_transaction_date)

# Calculate the number of users who made transactions in the last 30 days
active_users_30_days = (latest_transaction_date >= latest_transaction_date.max() - pd.DateOffset(days=30)).sum()

# Calculate the retention rate (percentage of users retained)
retention_rate = (active_users_30_days / total_active_users) * 100

# Calculate the churn rate (percentage of users who have not made transactions in the last 30 days)
churn_rate = 100 - retention_rate

# Print Results
print("Total Active Users:", total_active_users)
print("Active Users in the Last 30 Days:", active_users_30_days)
print("Retention Rate:", retention_rate, "%")
print("Churn Rate:", churn_rate, "%")

Total Active Users: 1134
Active Users in the Last 30 Days: 400
Retention Rate: 35.273368606701936 %
Churn Rate: 64.72663139329806 %

In [26]:
# Resample data by day
daily_transactions = df.resample('D', on='CREATED_DATE').size()

# Resample data by month
monthly_transactions = df.resample('M', on='CREATED_DATE').size()

# Calculateing total amount of transaction in each analysis
monthly_total_amount = df.resample('M', on='CREATED_DATE')['AMOUNT'].sum()

# Printing Results for Monthly Analysis
print("Monthly Analysis - Total Number of Transactions:")
print(monthly_transactions)
print("Total Amount of Transactions for Each Month:")
print(monthly_total_amount)

Monthly Analysis - Total Number of Transactions:
CREATED_DATE
2016-01-31     214
2016-02-29     284
2016-03-31     520
2016-04-30     497
2016-05-31     605
2016-06-30     628
2016-07-31     925
2016-08-31    1212
2016-09-30    1080
2016-10-31    1215
2016-11-30    1196
2016-12-31    1286
2017-01-31     338
Freq: M, dtype: int64
Total Amount of Transactions for Each Month:
CREATED_DATE
2016-01-31     39770.76
2016-02-29     49187.05
2016-03-31     89913.79
2016-04-30     89205.21
2016-05-31    101119.93
2016-06-30    112184.74
2016-07-31    164267.46
2016-08-31    215464.57
2016-09-30    186118.78
2016-10-31    217211.74
2016-11-30    211112.65
2016-12-31    223443.87
2017-01-31     58681.08
Freq: M, Name: AMOUNT, dtype: float64

In [25]:
# Calculating total transaction amount by TYPE and CURRENCY
total_amount_by_type_currency = df.groupby(['TYPE', 'CURRENCY'])['AMOUNT'].sum()

# Printing the results
print("Total Transaction Amount by TYPE and CURRENCY")
print(total_amount_by_type_currency)

Total Transaction Amount by TYPE and CURRENCY
TYPE           CURRENCY
ATM            EUR         213140.45
               GBP         198558.25
BANK_TRANSFER  EUR         205127.11
               GBP         213737.72
CARD_PAYMENT   EUR         210115.77
               GBP         204736.58
P2P_TRANSFER   EUR          19905.82
               GBP          82075.52
TOPUP          EUR         204074.20
               GBP         206210.21
Name: AMOUNT, dtype: float64